accelerate
bitsandbytes 
click
cmlutils
datasets
einops
fastapi
flask
huggingface-hub
ipywidgets
jinja2
langchain
milvus
nltk
pandas
pinecone-client
pymilvus
rouge-score
scipy
sentence-transformers
setuptools
tensorflow
tiktoken
tf-keras
torch
transformers
typing-extensions
typing-inspect
typing_extensions
uvicorn
xformers
SentencePiece
git+https://github.com/huggingface/peft.git@0b62b4378b4ce9367932c73540349da9a41bdea8
# git+https://github.com/huggingface/transformers #needed for Mistral