accelerate
bitsandbytes 
click
cmlutils
datasets
einops
fastapi
flask
huggingface-hub
ipywidgets
jinja2
langchain
milvus
nltk
pandas
pinecone-client
pymilvus
rouge-score
scipy
sentence-transformers
setuptools
tensorflow
tiktoken 
torch
transformers
typing-extensions
typing-inspect
typing_extensions
uvicorn
xformers 